@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Mono:wght@200;400&display=swap');
*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)
        
    )
    ,url(./Imagenes/pontificia-universidad-javeriana-banner.jpg);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-size: cover;
}

.javeriana{
    top:  13px;
    left: 20px;
    position: absolute;
    background-repeat: no-repeat;
}



p{
  font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
     background: -webkit-linear-gradient(#ffffff,#ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 0px;
    margin-top: 50px;
    padding: 50px 0px;
    font-weight: bold;
    text-align: end;
    -webkit-text-stroke: 1.3px rgb(1, 33, 12);
}

.jave{
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
}

.container hr{
    margin-top: -70px;
    width: 700px;
    height: 2px;
    color: #ffffff;
    background-color: #ffffff;
    size: 2;
    
}

